html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loader-container {
  position: relative;
  height: 100vh;
  width: 100%;
  opacity: 1;
  background: transparent;
}

.loader-ball {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fb6a09;
  margin: 0 6px 0 0;
  animation: oscillate 0.7s ease-in forwards infinite;
}

.one {
  animation-delay: 0.5s;
}

.two {
  animation-delay: 1s;
}

.three {
  animation-delay: 2s;
}

@keyframes oscillate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.common-category-image {
  position: absolute !important;
  inset: 50 50 !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
  min-width: 0 !important;
  min-height: 0 !important;
  width: auto !important;
}

.category-image {
  max-width: 80% !important;
  max-height: 80% !important;
  margin: 0 auto !important;
}

.common-product-image {
  display: block !important;
  position: absolute !important;
  inset: 50 50 !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100% !important;
  min-width: 0 !important;
  min-height: 0 !important;
  width: auto !important;
}

.customer-product-card {
  width: 25% !important;
}

.global-breadcrumb {
  --bs-breadcrumb-divider: ">";
}

.separator {
  color: #171726;
  height: 2px;
  opacity: 1;
  margin: 0;
}

.cancel-btn {
  background: #fff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #171726;
  border: none;
  padding: 10px 30px 8px;
}

.cancel-btn:focus {
  color: #171726;
}

.for-mobile,
.for-tab {
  display: none;
}

.sub-category-nav {
  display: flex;
  justify-content: space-between;
}

.nav-fl-1 {
  flex: 1;
  margin-left: 4px;
  margin-right: 4px;
}
.nav-fl-2 {
  flex: 2;
  margin-left: 4px;
  margin-right: 4px;
}
.nav-fl-3 {
  flex: 3;
  margin-left: 5px;
  margin-right: 5px;
}
.nav-fl-4 {
  flex: 4;
  margin-left: 10px;
  margin-right: 10px;
}
.nav-fl-5 {
  flex: 5;
  margin-left: 10px;
  margin-right: 10px;
}
.nav-fl-6 {
  flex: 6;
  margin-left: 10px;
  margin-right: 10px;
}

.account-wish-block {
  display: flex;
  justify-content: flex-end;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #53b176;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
