@media (max-width: 1480px) {
  .search-box {
    width: 460px;
  }
}
@media (max-width: 1400px) {
  .footer-wrap .app-link a {
    width: calc(50% - 15px);
    display: inline-block;
  }
  .search-box {
    width: 380px;
  }
}
@media (max-width: 1367px) {
  .catrgory-list ul {
    margin: 0 -6px;
  }
  .catrgory-list ul li {
    padding: 6px;
  }
  .common-right .product-list .item {
    width: 25%;
  }
}
@media (max-width: 1280px) {
  .catrgory-list ul li {
    width: 14%;
  }
  .ta-heading {
    font-size: 40px;
    line-height: 45px;
  }
  .tab1-heading {
    font-size: 35px;
    line-height: 42px;
  }
  .tab1-subheading {
    font-size: 14px;
    line-height: 24px;
  }
  .f-title {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .footer-logo img {
    max-width: 210px;
  }
  .ta-block2-flex img {
    max-width: 320px;
  }
  .common-navs.owl-carousel .owl-nav button.owl-prev {
    left: 15px;
  }
  .common-navs.owl-carousel .owl-nav button.owl-next {
    right: 15px;
  }
  .teambuy-app-wrap .app-link a {
    display: inline-block;
  }
}
@media (max-width: 1199px) {
  .search-box {
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
    margin-left: 0;
    z-index: 9;
    padding: 15px;
    background: #fff;
    display: none;
    box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
  }
  .search-box.open {
    display: block;
  }
  .search-box .search-icon {
    left: 26px;
    top: 29px;
  }
  .teambuy-app-block {
    padding: 20px 35px 25px;
  }
  .ta-heading {
    font-size: 30px;
    line-height: 34px;
  }
  .tab1-heading {
    font-size: 28px;
    line-height: 34px;
  }
  .ta-block2-flex img {
    max-width: 230px;
    margin: 0 auto;
    display: block;
  }
  .md-heading {
    font-size: 20px;
    line-height: 28px;
  }
  .mt-20 {
    margin-top: 12px !important;
  }
  .search-for-mobile {
    display: block;
    margin-left: auto;
  }
  .search-for-mobile img {
    width: 14px;
    height: 14px;
  }
  .header-wrap .container,
  .footer-wrap .container {
    max-width: 100%;
  }
  .common-right .product-list .item {
    width: 33.33%;
  }
  .search-field-block .search-box {
    display: block;
    position: relative;
    top: inherit;
    padding: 0;
    box-shadow: none;
    width: 350px;
  }
  .search-field-block .search-icon {
    left: 11px;
    top: 15px;
  }
  .search-wrap .product-list .item {
    width: 20%;
  }
  .e-box1 {
    height: 200px;
  }
  .e-box2 {
    height: 412px;
  }
  .dtl-img-box {
    height: 320px;
  }
  .block-scroll-x {
    overflow-x: auto;
  }
  .block-scroll-x-width {
    width: 767px;
  }
}
@media (max-width: 991px) {
  .circle-box {
    width: 60px;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .circle-box img {
    max-width: 80%;
    max-height: 80%;
  }
  .featured-wrap {
    padding: 30px 40px;
  }
  .featured-wrap .col-md-3 {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-top .col-md-5 {
    width: 100%;
    padding-bottom: 20px;
  }
  .footer-top .col-md-2 {
    width: 30%;
  }
  .footer-top .col-md-3 {
    width: 40%;
  }
  .catrgory-list ul li {
    width: 20%;
  }
  .scp-header-flex {
    display: block !important;
  }
  .scp-header-flex > .d-flex {
    margin-bottom: 15px;
  }
  .common-right {
    padding-left: 15px;
  }
  .common-right .product-list .item {
    width: 50%;
  }
  .search-wrap .product-list .item {
    width: 25%;
  }
  .e-box1 {
    height: 150px;
  }
  .e-box2 {
    height: 312px;
  }
  .dtl-action-block {
    display: block !important;
  }
  .dtl-action-block .ml-auto {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  .cart-block .col-lg-6 + .col-lg-6 {
    padding-top: 20px;
  }
  .wallet-price-flex {
    padding: 20px 0;
  }
  .wallet-total {
    font-size: 37px;
    line-height: 42px;
  }
  .wallet-vaild-date {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-sm {
    max-width: 100%;
  }
  .ptb-50 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
  .ptb-30 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .seven-items-slider .owl-stage {
    padding-left: 0 !important;
  }
  .five-items-slider .owl-stage {
    padding-left: 0 !important;
  }
  .main-logo {
    display: none;
  }
  .header-address {
    margin-left: 0;
  }
  .top-banner-box {
    height: 200px;
  }
  .tb-img img {
    max-width: 200px;
  }
  .tb-content {
    padding: 15px;
  }
  .common-flex {
    display: block !important;
  }
  .common-left {
    padding-bottom: 15px;
    width: 100%;
  }
  .common-right {
    width: 100%;
  }
  .common-right .product-list .item {
    width: 33.33%;
  }
  .search-wrap .product-list .item {
    width: 33.33%;
  }
  .dtl-product-slider .dtl-img-box img {
    width: auto !important;
  }
  .dtl-action-block {
    margin-top: 20px;
  }
  .desc-review-block .col-md-6 {
    padding-top: 25px;
  }
  .product-dtl-block .col-md-6:last-child {
    padding-top: 25px;
  }
  .dtl-action-block {
    padding: 13px 15px;
  }
  .mlr-25 {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  .plr-25 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .sm-heading {
    font-size: 16px;
    line-height: 24px;
  }
  .font-19 {
    font-size: 16px !important;
  }
  .cart-main-box {
    padding: 20px 15px;
  }
  .address-block .col-md-4 + .col-md-4 {
    margin-top: 20px;
  }
  .checkout-address-wrap .checkout-address-right {
    order: inherit !important;
  }
  .checkout-address-left {
    padding-top: 30px;
  }
  .ptb-90 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .delivery-timing-box {
    padding-top: 25px;
  }
  .to-product-count {
    font-size: 14px;
  }
  .common-left .mob-profile-menu {
    background: url(/img/menu.png) no-repeat center center;
    background-size: 100%;
    width: 26px;
    height: 26px;
    display: block;
  }
  .left-menu-box {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    padding: 10px 10px 25px;
    transition: all 0.5s ease-in-out 0s;
    overflow-y: auto;
    width: 280px;
  }
  .left-menu-box.active {
    left: 0;
  }
  .common-right {
    padding-left: 0;
  }
  .lm-back-arrow {
    display: block !important;
  }
  .lm-overflow-bg.active {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .body-overflow {
    overflow: hidden;
  }
  .wh-box {
    padding: 20px 15px;
  }
  .transaction-block {
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .common-navs.owl-carousel .owl-nav {
    display: none;
  }
  .catrgory-list ul li {
    width: 25%;
  }
  .main-menu {
    display: none;
  }
  .mob-ml-auto {
    margin-left: auto;
  }
  .teambuy-app-wrap {
    padding: 30px 0;
  }
  .teambuy-app-block {
    padding: 15px;
  }
  .ta-subheading {
    max-width: 100%;
    font-size: 14px;
  }
  .ta-heading,
  .tab1-heading {
    font-size: 24px;
    line-height: 28px;
  }
  .ta-subheading2 {
    margin-top: 10px;
  }
  .ta-block2-flex,
  .ta-block2-flex .col-md-7 {
    padding-top: 25px;
  }
  .tab1-subheading {
    font-size: 13px;
    line-height: 18px;
  }
  .search-wrap {
    padding: 30px 0;
  }
  .pb-120 {
    padding-bottom: 80px !important;
  }
  .search-field-block > .d-inline-flex {
    width: 100%;
  }
  .search-field-block .search-box {
    width: calc(100% - 38px);
  }
  .login-for-mobile {
    display: block;
  }
  .login-for-mobile a {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #171726;
    display: block;
    padding: 0 5px;
  }
  .footer-logo img {
    max-width: 130px;
  }
  .product-dtl-heading {
    display: block !important;
  }
  .product-dtl-heading .ml-auto {
    margin-top: 10px;
  }
  .process-checkout-btn {
    padding-left: 25px;
    padding-right: 25px;
  }
  .cart-main-scroll {
    overflow-x: auto;
  }
  .cart-main-width {
    width: 600px;
  }
}
@media (max-width: 575px) {
  .product-count-filter {
    display: block !important;
  }
  .sort-by-block {
    margin-left: 0 !important;
    margin-top: 10px;
  }
  .filter-icon.ml-100 {
    margin-left: auto !important;
  }
  .ce-icon img {
    max-width: 90px;
  }
  .empty-cart {
    padding: 80px 0;
  }
  .share-friend-block {
    display: block !important;
  }
  .share-friend-block .ml-auto {
    margin-top: 10px;
  }
  .pd-15 {
    padding: 10px !important;
  }
  .notifaction-block {
    padding: 10px;
  }
  .ptb-40 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}
@media (max-width: 480px) {
  .featured-wrap {
    padding: 30px 15px;
  }
  .featured-wrap .col-md-3 {
    width: 100%;
  }
  .common-right .product-list .item {
    width: 50%;
  }
  .search-wrap .product-list .item {
    width: 50%;
  }
  .search-result-block {
    margin-top: 20px;
  }
  .sidebar-block {
    width: 300px;
  }
  .wishlist-btn {
    padding: 4px 7px;
    font-size: 11px;
  }
  .wishlist-box .to-product-flex .product-img {
    width: 56px;
  }
  .wishlist-box .to-product-flex .product-content {
    width: calc(100% - 56px);
    padding-left: 7px;
  }
  .wishlist-list .white-box {
    padding: 5px;
  }
  .custom-breadcrumb {
    font-size: 13px;
  }
  .to-product-flex .product-img {
    width: 65px;
  }
  .faq-date {
    min-width: 95px;
  }
  .error-box .xs-heading br {
    display: none;
  }
}
@media (max-width: 420px) {
  .catrgory-list ul li {
    width: 33.33%;
  }
  .had-area-desc {
    font-size: 8px;
    line-height: 13px;
  }
  .had-area-name {
    font-size: 11px;
    line-height: 16px;
    padding-right: 0;
  }
  .top-banner-box {
    height: 180px;
  }
  .sm-heading {
    font-size: 16px;
    line-height: 20px;
  }
  .header-address {
    max-width: 120px;
  }
  .had-icon {
    min-width: 15px;
  }
  .f-menu.w-50 {
    width: 100% !important;
  }
  .footer-top .col-md-2,
  .footer-top .col-md-3 {
    width: 100%;
    padding-top: 15px;
  }
  .footer-wrap .app-link a {
    width: auto;
    max-width: calc(50% - 15px);
  }
  .fb-content {
    font-size: 10px;
  }
  .footer-bottom {
    padding: 0 0 25px;
  }
  .custom-hr {
    margin: 16px 0;
  }
}
@media (max-width: 380px) {
  .teambuy-app-wrap .app-link a {
    max-width: calc(50% - 10px);
  }
  .teambuy-app-wrap .app-link a img {
    width: 100%;
  }
  .teambuy-app-wrap .app-link a.ml-20 {
    margin-left: 10px !important;
  }
}
