@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
button,
input {
  font-family: "Poppins", sans-serif;
}
a,
img {
  border: none;
  outline-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #000;
  transition: all 0.2s ease;
}
a:hover {
  color: #000;
  text-decoration: none;
  outline: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 0.8rem;
}
ul li {
  list-style: none;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
body,
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #0e0b0b;
  font-family: "Poppins", sans-serif;
  background: #fff;
}
img {
  max-width: 100%;
}
a,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}
p {
  font-size: 1em;
  color: #000;
}
.header-wrap {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
  position: relative;
}
.header-address {
  margin-left: 10px;
  max-width: 220px;
}
.had-location {
  padding-left: 5px;
}
.had-area-name {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #171726;
  border-bottom: solid 1px #171726;
  display: inline-block;
  padding-right: 27px;
  margin-bottom: 4px;
}
.had-area-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7c7c7c;
}
.search-box {
  position: relative;
  width: 585px;
  margin-left: 7px;
}
.search-input {
  background: #f3f3f3;
  border-radius: 6px;
  border: none;
  padding: 11px 15px 11px 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7c7c7c;
  width: 100%;
}
.search-icon {
  background: url(/img/search.svg) no-repeat center center;
  background-size: 100%;
  width: 11px;
  height: 11px;
  display: inline-block;
  position: absolute;
  left: 11px;
  top: 15px;
}
.main-menu {
  margin-left: 10px;
}
.main-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.main-menu ul li {
  padding: 0;
  margin: 0;
}
.main-menu ul li a {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #171726;
  display: block;
  padding: 0 5px;
}
.wish-block {
  margin-left: 10px;
}
.wishlist-icon {
  background: url(/img/wishlist-icon.svg) no-repeat center center;
  background-size: 100%;
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
}
.cart-box {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  background: #f0f8f2;
  border-radius: 20px;
  display: inline-block;
  padding: 7px 12px;
  margin-left: 7px;
}
.cart-box img {
  vertical-align: -4px;
  margin-right: 2px;
}

/* top-banners-wrap */
.ptb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.ptb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.md-heading {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #171726;
}
.sm-subheading {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}
.sm-green-btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background: #53b176;
  border-radius: 4px;
  padding: 1px 7px;
  border: none;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.tb-img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.top-banner-box {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  position: relative;
}
.top-banner-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(250, 196, 146, 0.29);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  z-index: 1;
}
.tb-content {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 38px 22px;
}
.brown-text {
  color: #834f33 !important;
}
.sm-heading {
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  color: #000000;
}
.white-box {
  background: #ffffff;
  border: 2px solid #f3f3f3;
  border-radius: 8px;
  padding: 5px 8px;
  position: relative;
}
.product-list {
  margin: 0 -6px;
}
.product-list .item {
  width: 14.28%;
  padding: 0 6px;
}
.product-img {
  min-height: 85px;
  margin-bottom: 10px;
  position: relative;
}
.product-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: auto !important;
}
.xs-heading {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #171726;
}
.weight-count {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7c7c7c;
}
.ml-auto {
  margin-left: auto;
}
.catrgory-list ul {
  margin: 0 -13px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.catrgory-list ul li {
  padding: 13px;
  width: 10%;
}
.category-box {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
  min-height: 120px;
}
.category-name {
  text-align: center;
  font-size: 12px;
  color: #000;
  line-height: 15px;
}
.catrgory-list .product-img {
  min-height: 54px;
  margin-bottom: 7px;
}
.green-box {
  background: #f0f8f2;
  border: 1px solid #91c49e;
}
.yellow-box {
  background: #fdf7ed;
  border: 1px solid #f3c590;
}
.blue-box {
  background: #eff9ff;
  border: 1px solid #035c97;
}
.purple-box {
  background: #f4edf6;
  border: 1px solid #cfb4de;
}
.orange-box {
  background: #fbe9e5;
  border: 1px solid #eba998;
}
.product-wishlist {
  background: url(/img/wishlist-icon.svg) no-repeat center center;
  background-size: 100%;
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 10px;
  top: 10px;
}
.product-wishlist.selected {
  background: url(/img/wishlist-fill.svg) no-repeat center center;
  background-size: 100%;
}
.off-tag {
  background: rgba(240, 248, 242, 0.9);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #53b176;
  padding: 5px;
  position: absolute;
  left: 0;
  top: 7px;
  z-index: 1;
}
.off-tag:before {
  content: "";
  position: absolute;
  right: -23px;
  top: 0;
  border-top: solid 23px transparent;
  border-bottom: solid 23px transparent;
  border-left: solid 23px rgba(240, 248, 242, 0.9);
}
.off-tag .off-count {
  font-weight: 700;
}
.green-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #53b176;
  position: relative;
  padding-right: 16px;
  display: inline-block;
}
.green-link:after {
  content: "";
  background: url(/img/right-green-arrow.svg) no-repeat center center;
  background-size: 100%;
  width: 9px;
  height: 9px;
  position: absolute;
  right: 0;
  top: 4px;
}
.circle-box {
  background: #f0f8f2;
  border: 1px solid #91c49e;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
}
.nearby-box .circle-box img {
  width: auto !important;
  display: inline-block;
}
.nearby-box .xs-heading {
  padding-left: 10px;
}
.fw-500 {
  font-weight: 500 !important;
}
.green-text {
  color: #53b176 !important;
}
.font-12 {
  font-size: 12px !important;
}
.deal-box {
  padding: 18px 7px;
  border-radius: 8px;
  border: none !important;
  position: relative;
}
.sm-black-btn {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background: #171726;
  border-radius: 4px;
  padding: 1px 7px;
  position: relative;
}
.deal-img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 0;
  text-align: right;
}
.deal-content {
  position: relative;
  z-index: 1;
}
.mt-30 {
  margin-top: 30px !important;
}
.w-50 {
  width: 50%;
}
.deals-flex {
  margin: 0 -7px;
}
.deals-flex .item {
  padding: 0 7px;
}
.to-product-flex .product-img {
  width: 101px;
}
.to-product-flex .product-content {
  width: calc(100% - 101px);
  padding-left: 5px;
}
.product-content {
  padding-left: 7px;
  padding-right: 7px;
}
.teambuy-offer-slider .owl-stage {
  padding-left: 0 !important;
}
.white-text {
  color: #fff !important;
}
.dtd-box {
  min-height: 180px;
  position: relative;
}
.dtd-box .dtd-img {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.dark-purple-box {
  background: #d2bbdf;
}
.dark-yellow-box {
  background: #f3c590;
}
.dark-blue-box {
  background: #c0dff3;
}
.dark-green-box {
  background: #a9d1b3;
}
.dtd-flex .item {
  width: 12.5%;
}
.mt-6 {
  margin-top: 6px !important;
}
.teambuy-app-block {
  background: #f0f8f2;
  border-radius: 10px;
  padding: 50px 74px 30px;
}
.ta-heading {
  font-weight: 500;
  font-size: 58px;
  line-height: 87px;
  color: #7ac195;
}
.ta-subheading {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #171726;
  margin-top: 10px;
  max-width: 80%;
}
.ta-subheading2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #171726;
  margin-top: 20px;
}
.text-right {
  text-align: right !important;
}
.tab1-heading {
  font-weight: 400;
  font-size: 46px;
  line-height: 69px;
  color: #171726;
}
.tab1-subheading {
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  color: #171726;
}
.green-btn {
  background: #53b176;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 10px 30px 8px;
}
.green-btn:focus {
  color: #fff;
}
.app-link-form .form-control {
  background: #f3f3f3;
  border-radius: 6px;
  padding: 11px 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7c7c7c;
  border: none;
}
.ml-20 {
  margin-left: 20px !important;
}

.custom-radio [type="radio"]:checked,
.custom-radio [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.custom-radio [type="radio"]:checked + label,
.custom-radio [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 22px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #171726;
}
.custom-radio [type="radio"]:checked + label:before,
.custom-radio [type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 14px;
  height: 14px;
  background: #ffffff;
  border: 2px solid #171726;
  border-radius: 100%;
}

.custom-radio [type="radio"]:checked + label:before {
  background: #53b176;
}
.custom-radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.custom-radio [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.ta-block2-flex {
  padding-top: 40px;
}
.teambuy-app-wrap {
  padding: 60px 0;
}
.featured-wrap {
  padding: 60px 40px;
}
.featured-wrap > .row {
  align-items: center;
}
.featured-icon {
  background: #fef9e7;
  border-radius: 4px;
  width: 70px;
  height: 70px;
  min-width: 70px;
  line-height: 70px;
  text-align: center;
}
.featured-content {
  padding-left: 10px;
}
.xs-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #171726;
}
.footer-wrap {
  background: #f8f8f8;
}
.footer-top {
  padding: 35px 0;
}
.footer-logo {
  margin-bottom: 15px;
}
.f-title {
  font-weight: 400;
  font-size: 23px;
  color: #171726;
  padding-bottom: 20px;
}
.f-menu {
  padding-left: 20px;
  padding-top: 0;
}
.f-menu li {
  padding: 0;
  list-style-type: disc;
}
.f-menu li a {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #171726;
  vertical-align: 2px;
}
.social-links a + a {
  margin-left: 15px;
}
.fb-heading {
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  color: #171726;
}
.footer-bottom {
  padding: 35px 0;
}
.fb-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.07em;
  color: #171726;
}
.custom-hr {
  background-color: #171726;
  margin: 24px 0;
}
.common-navs.owl-carousel .owl-nav button.owl-prev {
  background: url(/img/left-arrow.svg) no-repeat center center;
  background-size: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translate(0, -50%);
}
.common-navs.owl-carousel .owl-nav button.owl-next {
  background: url(/img/right-arrow.svg) no-repeat center center;
  background-size: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translate(0, -50%);
}

.common-navs.owl-carousel .owl-nav button span {
  display: none;
}
.common-navs.owl-carousel .owl-nav button.disabled {
  display: none;
}
.w-60 {
  width: 60% !important;
}
.w-40 {
  width: 40% !important;
}
.mxw-80 {
  max-width: 80%;
}
.countItem {
  display: flex;
}
.btn-minus {
  cursor: pointer;
  padding: 0;
  margin-right: 0;
  font-size: 16px;
  color: #fff;
  background: #53b176;
  border-radius: 2px 0px 0px 2px;
  font-weight: 400;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
}
.btn-plus {
  cursor: pointer;
  padding: 0;
  margin-right: 0;
  font-size: 16px;
  color: #fff;
  background: #53b176;
  border-radius: 0 2px 2px 0;
  font-weight: 400;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  display: inline-block;
}
.count {
  font-size: 16px;
  width: 24px;
  height: 24px;
  text-align: center;
  background: #f3f3f3;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #171726;
}
.count:focus {
  outline: none;
}
.md-countItem {
  padding: 5px 0;
}
.md-countItem .btn-minus {
  width: 30px;
  height: 30px;
  line-height: 31px;
  border-radius: 6px 0 0 6px;
}
.md-countItem .btn-plus {
  width: 30px;
  height: 30px;
  line-height: 31px;
  border-radius: 0 6px 6px 0;
}
.md-countItem .count {
  width: 30px;
  height: 30px;
  line-height: 31px;
  font-size: 13px;
}
/* Category Page */
.category-wrap {
  padding: 48px 0 20px;
}
.category-list .row {
  margin: 0 -12px;
}
.category-list .col-lg-4 {
  padding: 12px;
}
.cat-box {
  background: #f0f8f2;
  border: 1px solid #91c49e;
  border-radius: 8px;
  position: relative;
}
.category-box {
  padding-top: 10px;
}
.category-img {
  position: relative;
  width: 60%;
  text-align: center;
}
.category-img img {
  max-width: 80%;
  max-height: 80%;
  margin: 0 auto;
}
.category-info {
  width: 40%;
  height: 230px;
  padding: 23px 15px;
  border-radius: 0 8px 8px 0;
}
/* Green */
.cat-green {
  background: #f0f8f2;
  border: 1px solid #91c49e;
}
.cat-green .category-info {
  background: #91c49e;
}
.cat-green .off-tag2 {
  background: #91c49e;
}
.cat-green .off-tag2:before {
  border-left: solid 10px #91c49e;
}
/* Yellow */
.cat-yellow {
  background: #fef9e7;
  border: 1px solid #f9e6a2;
}
.cat-yellow .category-info {
  background: #f9e6a2;
}
.cat-yellow .off-tag2 {
  background: #f9e6a2;
}
.cat-yellow .off-tag2:before {
  border-left: solid 10px #f9e6a2;
}
/* kobi */
.cat-kobi {
  background: #f4e1e8;
  border: 1px solid #de9eb9;
}
.cat-kobi .category-info {
  background: #de9eb9;
}
.cat-kobi .off-tag2 {
  background: #de9eb9;
}
.cat-kobi .off-tag2:before {
  border-left: solid 10px #de9eb9;
}
/* purple */
.cat-purple {
  background: #e6e4f7;
  border: 1px solid #b8adf3;
}
.cat-purple .category-info {
  background: #b8adf3;
}
.cat-purple .off-tag2 {
  background: #b8adf3;
}
.cat-purple .off-tag2:before {
  border-left: solid 10px #b8adf3;
}

.off-tag2 {
  background: #91c49e;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #171726;
  padding: 3px 5px;
  position: absolute;
  left: 0;
  top: 18px;
  z-index: 1;
}
.off-tag2:before {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  border-top: solid 12px transparent;
  border-bottom: solid 12px transparent;
  border-left: solid 10px #91c49e;
}
.off-tag2 .off-count {
  font-weight: 700;
}
.fw-700 {
  font-weight: 700 !important;
}

/* Selected Category Poduct List */
.scp-img {
  min-height: 86px;
  margin-top: 8%;
}
.scp-slider .owl-stage {
  padding-left: 0 !important;
}
.custom-breadcrumb {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #171726;
}
.custom-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #171726;
}
.custom-breadcrumb .breadcrumb-item.active {
  color: #171726;
  font-weight: 700;
}
.breadcrumb {
  margin-bottom: 0;
}
.ml-100 {
  margin-left: 100px !important;
}
.sort-by-block .form-control {
  background: #f3f3f3 url(/img/select-down-arrow.png) no-repeat 95% center;
  background-size: 12px 7px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #171726;
  border: none;
  padding: 11px;
  width: 237px;
}
.ml-15 {
  margin-left: 15px !important;
}
.sort-label {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
.common-left {
  min-width: 220px;
}
.common-left .nav-pills .nav-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #171726;
  text-align: left;
}
.arrow-right {
  background: url(/img/black-right-arrow.png) no-repeat center center;
  background-size: 100%;
  float: right;
  width: 6px;
  height: 12px;
  margin-top: 6px;
}
.common-left .nav-pills .nav-link.active .arrow-right {
  background: url(/img/white-right-arrow.png) no-repeat center center;
  background-size: 100%;
}
.common-left .nav-pills .nav-link.active {
  color: #fff;
  background: #91c49e;
  border-radius: 4px;
}
.common-right {
  width: calc(100% - 220px);
  padding-left: 120px;
}
.common-right .product-list .item {
  width: 16.66%;
  padding-bottom: 12px;
}
.product-price {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #171726;
}
.search-wrap {
  padding: 60px 0;
}
.ml-10 {
  margin-left: 10px !important;
}
.tags a,
.tags span {
  background: rgba(240, 248, 242, 0.9);
  border-radius: 2px;
  padding: 5px 6px 4px;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #171726;
  margin-bottom: 5px;
  margin-right: 10px;
}
.tags a.selected {
  background: #53b176;
  color: #fff;
}
.mt-15 {
  margin-top: 15px !important;
}
.tsl-img-box {
  border: 2px solid #f3f3f3;
  border-radius: 6px;
  width: 60px;
  height: 60px;
  min-width: 60px;
  max-height: 60px;
  line-height: 60px;
  text-align: center;
}
.tsl-img-box img {
  max-height: 90%;
  max-width: 90%;
}
.mt-50 {
  margin-top: 50px !important;
}
.trending-search-list .tsl-box + .tsl-box {
  margin-top: 10px;
}
.pb-120 {
  padding-bottom: 120px !important;
}
.search-result-block {
  margin-top: 60px;
}
.search-wrap .container {
  max-width: 1120px;
}
.search-wrap .product-list .item {
  width: 16.66%;
  margin-bottom: 12px;
}
.overlay-bg {
  background: rgba(23, 23, 38, 0.45);
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.overlay-bg.active {
  z-index: 1;
  visibility: visible;
  opacity: 1;
}
.filter-block {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 0;
  position: fixed;
  right: -100%;
  top: 0;
  width: 375px;
  padding: 42px 9px;
  bottom: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out 0s;
}
.filter-block.active {
  right: 0;
}
.filter-reload-icon {
  position: absolute;
  right: 25px;
  top: 45px;
}
.plr-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.sm-check-mark {
  background: url(/img/unselect-check.svg) no-repeat no-repeat center center;
  background-size: 100%;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 4px;
}
.category-select-list {
  display: flex;
  flex-wrap: wrap;
}
.category-select-list li {
  width: 50%;
  padding: 5px 0;
}
.category-select-list li:nth-child(2n) {
  padding-left: 15px;
}
.category-select-list li.selected .sm-check-mark {
  background: url(/img/selected-check.svg) no-repeat no-repeat center center;
  background-size: 100%;
}
.category-select-list li a {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #313238;
  position: relative;
  display: block;
  padding-right: 10px;
}
.overflow-active {
  overflow: hidden;
}
.sidebar-block {
  background: #ffffff;
  border-radius: 0;
  position: fixed;
  right: -100%;
  top: 0;
  width: 375px;
  padding: 0 0 42px 0;
  bottom: 0;
  z-index: 2;
  transition: all 0.5s ease-in-out 0s;
  height: 100vh;
  overflow-y: auto;
}
.sidebar-block.active {
  right: 0;
}

.sidebar-overlay-bg {
  background: rgba(23, 23, 38, 0.45);
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
.sidebar-overlay-bg.active {
  z-index: 2;
  visibility: visible;
  opacity: 1;
}
.custom-form .form-control {
  background: #f3f3f3;
  border-radius: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7c7c7c;
  padding: 11px 12px 11px 27px;
  font-family: "Poppins", sans-serif;
  border: none;
  color: #171726;
}
::-webkit-input-placeholder {
  /* Edge */
  opacity: 0.7 !important;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: 0.7 !important;
}
::placeholder {
  opacity: 0.7 !important;
}
.custom-form .form-control:focus {
  outline: none;
  box-shadow: none;
}
.form-icon {
  position: absolute;
  left: 8px;
  top: 10px;
}
.phone-icon {
  background: url(/img/mobile.png) no-repeat center center;
  background-size: 100%;
  width: 12px;
  height: 20px;
  display: inline-block;
}
.pos-rel {
  position: relative;
}
.black-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #171726;
}
.gray-text {
  color: #7c7c7c;
}
.login-btns {
  border-radius: 6px;
  height: 50px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  display: block;
  line-height: 50px;
  padding: 0 25px;
}
.login-btns:hover {
  color: #fff;
}
.login-btns span {
  min-width: 34px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: 15px;
}
.gl-button {
  background: #5e81e4;
}
.fb-button {
  background: #5064a7;
}
.apple-button {
  background: #000000;
}
.plr-27 {
  padding-left: 27px !important;
  padding-right: 27px !important;
}
.plr-9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}
.back-arrow {
  position: absolute;
  left: 15px;
  top: 60px;
}
.explore-wrap .col-md-3,
.explore-wrap .col-md-6 {
  padding-top: calc(var(--bs-gutter-x) * 0.5);
  padding-bottom: calc(var(--bs-gutter-x) * 0.5);
}
.explore-box {
  background: #ffffff;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  position: relative;
}
.explore-box img {
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.e-box1 {
  height: 300px;
}
.e-box2 {
  height: 620px;
}
.dtl-img-box {
  background: #ffffff;
  border: 2px solid #f3f3f3;
  border-radius: 10px;
  width: 100%;
  height: 450px;
  position: relative;
}
.dtl-img-box img {
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dtl-heading {
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
  color: #53b176;
}
.lr-box {
  background: #f3f3f3;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  padding: 8px 10px;
  color: #171726;
}
.share-icon img {
  width: 18px;
  height: 18px;
}
.dtl-wishlist {
  position: relative;
  top: inherit;
  right: inherit;
  margin-left: 10px;
}
.mt-6 {
  margin-top: 6px !important;
}
.dtl-content {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: justify;
  color: #171726;
}
.dtl-quantity {
  background: #53b176 !important;
  color: #fff !important;
}
.dtl-action-block {
  background: #fef9e7;
  border-radius: 6px;
  padding: 13px 33px;
  margin-top: 50px;
}
.special-disc {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #53b176;
  margin-top: 4px;
}
.special-disc span {
  font-weight: 700;
  font-size: 19px;
}
.font-19 {
  font-size: 19px !important;
}
.rr-total-box {
  margin-top: 5px;
}
.r-rating {
  line-height: 0px;
}
.r-rating img {
  width: 10px;
  height: 10px;
  display: inline-block;
}
.r-rating img + img {
  margin-left: 2px;
}
.r-review {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #171726;
  margin-top: 5px;
}
.rr-box {
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  padding: 8px;
}
.r-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
  margin-top: 15px;
}
.mlr-25 {
  margin-left: -25px !important;
  margin-right: -25px !important;
}
.plr-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.sm-modal .modal-dialog {
  max-width: 350px;
}
.sm-modal .modal-content {
  border-radius: 8px;
  border: none;
}
.sm-modal .modal-header {
  border: 1px solid #f3f3f3;
  padding: 14px 0 6px;
  background: transparent;
  border-radius: 8px 8px 0 0;
}
.sm-modal .modal-title {
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  color: #000000;
  text-align: center;
  width: 100%;
}
.sm-modal .modal-body {
  padding: 10px 13px;
}
.white-btn {
  background: #fff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;
  border: none;
  padding: 10px 30px 8px;
}
.white-btn:focus {
  color: #000;
}
.review-control {
  resize: none;
  height: 70px;
}
.dtl-product-slider.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 5px;
}
.dtl-product-slider.owl-carousel button.owl-dot {
  background: #7c7c7c;
  width: 15px;
  height: 15px;
  border-radius: 10px;
}
.dtl-product-slider.owl-carousel button.owl-dot + button.owl-dot {
  margin-left: 10px;
}
.dtl-product-slider.owl-carousel button.owl-dot.active {
  background: #53b176;
  width: 37px;
}
.mt-90 {
  margin-top: 90px !important;
}

.red-btn {
  background: #d83734;
  border-radius: 6px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  padding: 10px 30px 8px;
}
.red-btn:focus {
  color: #fff;
}
.wishlist-btn {
  padding: 5px 16px;
  font-weight: 500;
}
.plr-13 {
  padding-left: 13px !important;
  padding-right: 13px !important;
}
.wishlist-box .to-product-flex .product-img {
  width: 68px;
}
.wishlist-box .to-product-flex .product-content {
  width: calc(100% - 68px);
  padding-left: 15px;
}
.wishlist-list .wishlist-box + .wishlist-box {
  margin-top: 20px;
}
/*  */
.empty-cart {
  padding: 130px 0;
}
.breadcrumb-wrap {
  background: #f0f8f2;
  padding: 22px 0;
}
.font-19 {
  font-size: 19px !important;
}
.cut-price {
  opacity: 0.5;
  text-decoration: line-through;
}
.ml-30 {
  margin-left: 30px !important;
}
.ptb-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.cart-main-box {
  padding: 36px 25px;
}
.cart-main-box .white-box + .white-box {
  margin-top: 10px;
}
.share-btn {
  padding-top: 6px;
  padding: 6px 20px;
}
.share-btn img {
  margin-left: 6px;
}
.offer-discount-box {
  background: #fef9e7;
  border-radius: 0px 0px 10px 10px;
  padding: 17px 11px;
  position: relative;
}
.offer-discount-box img {
  vertical-align: -6px;
  margin-right: 4px;
}
.pd-0 {
  padding: 0;
}
.cart-table tr td {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #171726;
}
.red-text {
  color: #d83734 !important;
}
.cart-table-block {
  padding: 35px 0;
}
.cart-pd-20 {
  padding: 0 20px;
}
.cart-table {
  padding: 5px 0;
}
.cart-table tr td {
  border-bottom: 0.5px solid #c4c4c4;
  padding: 5px 0;
}
.cart-table tr:last-child td {
  border-bottom: none;
}
.b-radius-0 {
  border-radius: 0 !important;
}
.plr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.process-checkout-btn {
  padding-left: 85px;
  padding-right: 85px;
}
.process-checkout-btn img {
  margin-left: 4px;
  vertical-align: -1px;
}
.custom-hr2 {
  background-color: #c4c4c4;
}
.sm-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #7c7c7c;
}
.apply-coupon-wrap .col-md-6 {
  margin-bottom: 20px;
}
.coupon-text {
  font-weight: 600;
  font-size: 19px;
  color: #171726;
  text-transform: uppercase;
  padding-left: 4px;
  line-height: 19px;
}
.coupon-code {
  border: none;
  padding: 4px 8px;
}
.coupon-code img {
  display: block;
}
.coupon-box {
  padding: 15px 12px;
}
.fw-300 {
  font-weight: 300 !important;
}
.coupon-cross {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.font-13 {
  font-size: 13px !important;
}
.loaction-icon {
  min-width: 46px;
}
.pl-15 {
  padding-left: 15px !important;
}
.default-tag {
  background: #f3f3f3;
  border-radius: 2px;
  padding: 5px 6px 4px;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #171726;
  position: absolute;
  left: 4px;
  top: 4px;
}
.address-box {
  padding: 10px;
}
.address-box input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.ad-select-icon {
  position: absolute;
  right: 7px;
  top: 4px;
  display: none;
}
.ad-select-icon img {
  width: 17px;
  height: 17px;
}
.address-box.selected .ad-select-icon {
  display: block;
}
.addressCheck {
  opacity: 0;
}
.seven-items-slider.owl-carousel .dtd-img {
  text-align: center;
}
.seven-items-slider.owl-carousel .owl-item img {
  width: auto;
}
.owl-carousel button.owl-dot {
  display: none !important;
}
.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.search-for-mobile {
  display: none;
}
.scp-header-flex {
  margin-top: 40px;
}
.search-field-block .search-box {
  z-index: 0;
}
.login-for-mobile {
  display: none;
}
.dtl-product-slider.owl-carousel button.owl-dot {
  display: inline-block !important;
}
.user-icon {
  background: url(/img/user.svg) no-repeat center center;
  background-size: 100%;
  width: 12px;
  height: 20px;
  display: inline-block;
}
.email-icon {
  background: url(/img/mail.svg) no-repeat center center;
  background-size: 100%;
  width: 15px;
  height: 21px;
  display: inline-block;
}
.pincode-icon {
  background: url(/img/pincode.svg) no-repeat center center;
  background-size: 100%;
  width: 14px;
  height: 20px;
  display: inline-block;
}
.msg-icon {
  background: url(/img/msg.svg) no-repeat center center;
  background-size: 100%;
  width: 13px;
  height: 20px;
  display: inline-block;
}
.custom-form textarea.form-control {
  resize: none;
  height: 70px;
}
.ptb-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}
.checkout-address-wrap .custom-form {
  max-width: 330px;
  margin: 0 auto;
}
.list-disc {
  position: relative;
  padding-left: 13px;
}
.list-disc:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.cart-success-block {
  padding: 15px 0;
}
.common-flex .common-left {
  width: 235px;
}
.left-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.left-menu li a {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #171726;
  padding: 10px 10px 10px 10px;
  display: block;
  display: flex;
  align-items: center;
}
.left-menu li.active a {
  background: #91c49e;
  border-radius: 6px;
  color: #fff;
}
.lm-icon {
  width: 26px;
  height: 20px;
  display: inline-block;
  text-align: center;
  margin-right: 12px;
}
.lm-user-icon {
  background: url(/img/lm-user.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-user-icon {
  background: url(/img/white-lm-user.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-addresses-icon {
  background: url(/img/lm-address.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-addresses-icon {
  background: url(/img/white-lm-address.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-wishlist-icon {
  background: url(/img/lm-wishlist.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-wishlist-icon {
  background: url(/img/white-lm-wishlist.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-notification-icon {
  background: url(/img/lm-notifaction.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-notification-icon {
  background: url(/img/white-lm-notifaction.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-order-icon {
  background: url(/img/lm-order.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-order-icon {
  background: url(/img/white-lm-order.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-wallet-icon {
  background: url(/img/lm-wallet.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-wallet-icon {
  background: url(/img/white-lm-wallet.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-transaction-icon {
  background: url(/img/lm-transaction.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-transaction-icon {
  background: url(/img/white-lm-transaction.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-about-icon {
  background: url(/img/lm-about.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-about-icon {
  background: url(/img/white-lm-about.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-tnc-icon {
  background: url(/img/lm-tnc.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-tnc-icon {
  background: url(/img/white-lm-tnc.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-faq-icon {
  background: url(/img/lm-faq.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-faq-icon {
  background: url(/img/white-lm-faq.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-Share-icon {
  background: url(/img/lm-share.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-Share-icon {
  background: url(/img/white-lm-share.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-signout-icon {
  background: url(/img/lm-signout.svg) no-repeat center center;
  background-size: auto 95%;
}
li.active a .lm-signout-icon {
  background: url(/img/white-lm-signout.svg) no-repeat center center;
  background-size: auto 95%;
}
.lm-arrow {
  background: url(/img/lm-right-arrow.svg) no-repeat center center;
  background-size: 100%;
  width: 7px;
  height: 13px;
  display: inline-block;
  margin-left: auto;
}
.left-menu li.active a .lm-arrow {
  background: url(/img/white-lm-right-arrow.svg) no-repeat center center;
  background-size: 100%;
}
.common-right {
  width: calc(100% - 235px);
  padding-left: 15px;
}
.user-img {
  position: relative;
}
.user-img > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.upload-icon {
  position: absolute;
  right: -6px;
  bottom: 15px;
  background: url(/img/camera-icon.svg) no-repeat center center;
  background-size: 100%;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.upload-icon input {
  opacity: 0;
  cursor: pointer;
}
.user-info {
  padding-left: 25px;
}
.font-15 {
  font-size: 15px !important;
}
.gray-text {
  color: #7c7c7c !important;
}
.pd-15 {
  padding: 15px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.pl-10 {
  padding-left: 10px !important;
}
.add-new-box a {
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  padding: 13px 15px;
  color: #53b176;
}
.add-new-box a img {
  vertical-align: -5px;
  margin-right: 6px;
}
.b-none {
  border: none !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.common-right .ad-select-icon {
  right: 15px;
  top: 15px;
}
.common-right .ad-select-icon img {
  width: 21px;
  height: 21px;
}
.all-orders-block {
  padding: 23px 15px;
}
.pd-20 {
  padding: 20px !important;
}
.order-product-icon {
  width: 39px;
  min-width: 39px;
}
.order-product-info {
  padding-left: 15px;
  width: calc(100% - 39px);
}
.op-delivery-process {
  padding: 0;
  margin: 0;
  list-style: none;
}
.op-delivery-process li {
  padding: 0 0 0 20px;
  margin: 1px 0;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #171726;
}
.op-delivery-process li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 10px;
  height: 10px;
  background: #53b176;
  border-radius: 50%;
}
.op-delivery-process li.pending:before {
  background: #7c7c7c;
}
.op-delivery-process li.pending {
  color: #7c7c7c;
}
.order-down-arrow {
  background: url(/img/down-arrow.svg) no-repeat center center;
  width: 20px;
  height: 20px;
  background-size: 12px;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -10px;
}
.order-product-info .col-md-4 {
  position: relative;
}
.od-block .list-disc:before {
  top: 7px;
}
.od-block .cart-table tr td {
  border-bottom: none;
}
.od-block .cart-table tr:last-child td {
  border-top: 0.5px solid #c4c4c4;
}
.od-block .to-product-flex {
  padding: 7px 0;
}
.od-block .to-product-flex + .to-product-flex {
  border-top: 1px solid #f3f3f3;
}
.wallet-price-flex {
  padding: 36px 55px;
}
.wallet-total {
  font-weight: 300;
  font-size: 58px;
  line-height: 47px;
  color: #53b176;
}
.wallet-vaild-date {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #171726;
}
.wh-box {
  padding: 30px 18px;
}
.wh-coin {
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
}
.wh-info {
  padding-left: 18px;
}
.transaction-block {
  padding: 18px 15px;
}
.notifaction-block {
  padding: 23px 21px;
}
.error-wrap {
  padding: 130px 0;
}
.track-order-wrap {
  padding: 40px 0;
}
.track-order-left .order-dtl-box {
  max-width: 350px;
}
.to-box-circle {
  width: 60px;
  height: 60px;
  background: #f0f8f2;
  min-width: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}
.fw-600 {
  font-weight: 600 !important;
}
.to-box-info {
  padding-left: 18px;
}
.track-order-list li {
  padding: 18px 0;
  position: relative;
}
.track-order-list li:before {
  content: "";
  position: absolute;
  height: 21px;
  left: 29px;
  bottom: 85px;
  border-left: dashed 2px #53b176;
}
.track-order-list li:first-child:before {
  display: none;
}
.mob-profile-menu {
  display: none;
}
.lm-back-arrow {
  display: none !important;
  margin-bottom: 15px;
}
.pl-0 {
  padding-left: 0 !important;
}
.lm-overflow-bg {
  display: none;
}
.faq-date {
  min-width: 115px;
  text-align: right;
}

.error-box {
  padding: 0 20px;
}
